<!-- Footer -->

<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="six columns">
        <p>&copy; Depends on MIT's license...</p>
      </div>
      <div class="six columns">
        <ul class="link-list right">
          <li><a href="{{site.siteurl}}/">Home</a></li>
          <li><a href="{{site.siteurl}}/pages/about">About</a></li>
          <li><a href="{{site.siteurl}}/pages">Classes</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
