/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
	background-image: url('/class-notes/assets/images/furley_bg_dark.png');
}
.content {
	background-image: url('/class-notes/assets/images/furley_bg.png');
	padding: 15px;
}
.nav {
	padding: 0;
}
li p {
	margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


