/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
	background-image: url('/class-notes/assets/images/furley_bg_dark.png');
}
.content {
	background-image: url('/class-notes/assets/images/furley_bg.png');
	padding: 15px;
}
.nav {
	padding: 0;
}
li p {
	margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

.has-pullquote:before {
  /* Reset metrics. */
  padding: 0;
  border: none;
 
  /* Content */
  content: attr(data-pullquote);
 
  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: 1em 0 1em 1.5em;
 
  /* Baseline correction */
  position: relative;
  top: 6px;
  font-size: 1.4em;
  line-height: 1.45em;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


